* {
  box-shadow: none !important;
}

a {
  cursor: pointer;
}

[x-cloak] {
  display: none;
}

.w-full {
  width: 100%;
}
.mt-1 {
  margin-top: var(--pico-block-spacing-vertical);
}
.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: var(--pico-block-spacing-vertical);
}
.pt-1 {
  padding-top: var(--pico-block-spacing-vertical);
}
.text-center {
  text-align: center;
}

.title h1 {
  margin: 0;
  font-size: 1.3em;
  display: inline-block;
}
.title::after {
  margin-top: 0.2em;
}

.player > * {
  width: auto;
  flex: initial !important;
}
.player > button {
  padding: 0 var(--pico-spacing);
  font-weight: 700;
  background: #646B79;
  border: 0;
  opacity: 1;
}
.player > button.townsfolk,
.player > button.outsider {
  background: #0172AD;
}
.player > button.minion,
.player > button.demon {
  background: #C72259;
}
.player > .choose-role {
  flex-grow: 1 !important;
}
.player > .add-marker {
  width: 6.5em;
}

.markers {
  margin-top: calc(var(--pico-spacing) * -1);
  font-size: 0;
}
.markers > kbd {
  margin: calc(var(--pico-spacing) * 0.5) calc(var(--pico-spacing) * 0.5) 0 0;
  font-size: 0.765rem;
  font-weight: 400;
  cursor: pointer;
}

.starter,
.prompter {
  overflow: auto;
  background: var(--pico-background-color);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.prompter article {
  padding-bottom: 0;
}
.prompter .grid {
  grid-row-gap: 0;
}
.prompter-message {
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  white-space: pre-wrap;
  color: #000;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
