* {
  font-family: Arial, sans-serif;
  box-shadow: none !important;
}

a {
  cursor: pointer;
}

h1 {
  font-size: 1.25rem;
}

small {
  font-size: 0.8rem;
}

details summary {
  line-height: var(--pico-line-height);
}


/* Attributes */
[x-cloak] {
  display: none;
}

[\@click] {
  cursor: pointer;
}


/* Utils */
.w-full {
  width: 100%;
}

.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: calc(var(--pico-block-spacing-vertical) / 2);
}
.mt-2 {
  margin-top: var(--pico-block-spacing-vertical);
}
.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: calc(var(--pico-block-spacing-vertical) / 2);
}
.mb-2 {
  margin-bottom: var(--pico-block-spacing-vertical);
}
.pt-0 {
  padding-top: 0;
}
.pt-1 {
  padding-top: calc(var(--pico-block-spacing-vertical) / 2);
}
.pt-2 {
  padding-top: var(--pico-block-spacing-vertical);
}
.pb-0 {
  padding-bottom: 0;
}
.pb-1 {
  padding-bottom: calc(var(--pico-block-spacing-vertical) / 2);
}
.pb-2 {
  padding-bottom: var(--pico-block-spacing-vertical);
}

.fs-4 {
  font-size: 1.5625rem !important;
}

.text-danger {
  color: #C52F21; /* Red 550 */
  text-decoration-color: #C52F21;
}
.text-secondary {
  color: #4D535E; /* Zinc 650 */
  text-decoration-color: #4D535E;
}

.text-center {
  text-align: center;
}

.d-inline-block {
  display: inline-block;
}

.float-end {
  float: right;
}

.c-help {
  cursor: help;
}


/* Components */
.grimoire,
.town-square {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: var(--pico-block-spacing-horizontal);
  grid-row-gap: 0;
}

.player > * {
  width: auto;
  height: auto !important;
  padding: 0.5em !important;
  font-size: 0.8rem;
  flex: initial !important;
}
.player > select {
  background-image: none;
}
.player > .number {
  width: 2.4em;
  padding: 0 !important;
  background: #4D535E; /* Zinc 650 */
  border: 0;
  opacity: 1;
  white-space: nowrap;
  overflow: hidden;
}
.town-square .player > .number {
  width: 4em;
}
.player > .number.townsfolk {
  background: #0172AD; /* Azure 550 */
}
.player > .number.outsider {
  background: #007A50; /* Jade 550 */
}
.player > .number.minion {
  background: #7A4400; /* Pumpkin 650 */
}
.player > .number.demon {
  background: #9B2318; /* Red 650 */
}
.player > .status {
  width: 3em;
  text-align: center;
}
.player > .choose-role {
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  flex: 1 1 auto !important;
}
.player > .add-marker {
  width: 3em;
  text-align: center;
  text-align-last: center;
}
.player > .add-marker option {
  text-align: left;
}

.markers {
  margin-top: calc(var(--pico-spacing) * -1);
  font-size: 0;
}
.markers > kbd {
  margin: calc(var(--pico-spacing) * 0.5) calc(var(--pico-spacing) * 0.5) 0 0;
  padding: calc(var(--pico-spacing) * 0.2) calc(var(--pico-spacing) * 0.3);
  font-size: 0.64rem;
  font-weight: 400;
  cursor: pointer;
  transform: scaleY(1.06);
}

.sharer,
.prompter {
  overflow: auto;
  background: var(--pico-background-color);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.prompter article {
  padding-bottom: 0;
}
.prompter button {
  width: 100%;
  padding: calc(var(--pico-spacing) * 0.3) calc(var(--pico-spacing) * 0.5);
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
}
.prompter button > div {
  white-space: nowrap;
  overflow: hidden;
}
.prompter-message {
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  white-space: pre-wrap;
  color: #000;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  cursor: pointer;
}

.town-square article {
  padding: calc(var(--pico-spacing) * 0.5);
  display: flex;
  align-items: center;
}
.town-square article > h2 {
  flex-grow: 1;
  text-align: center;
}
